
#calculator {
    width: 100%;
    padding: 50px 0px;
    background: #eee;
}

/* Conteúdo da calculadora */
#calculator-container {
    padding: 30px 25px;
    align-items: center;
    text-align: center;
    width: 30%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(131, 33, 33, 0.25);
}

/* Tela da calculadora */
#display {
    padding-bottom: 15px;
    width: 100%;
}

#calculator-display {
    width: 100%;
    height: 2.5rem;
    font-size: 2rem;
    border-radius: 5px;
    background: #a9ad7e;
}

/* Botões da calculadora */
#buttons {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
    /* grid-template-rows: 25vh 25vh 25vh 25vh; */
    grid-template: "c c div mult"
                    "sev eig nin less"
                    "fou fiv six sum"
                    "one two thr sum" 
                    "ou dbou dt eq";
}

/* Linha 1 */
#btn-c {
    background-color: red;
    color: #fff;
    grid-area: c;
}

#btn-div {
    grid-area: div;
}

#btn-mult {
    grid-area: mult;
}

/* Linha 2 */

#btn-7 {
    grid-area: sev;
}

#btn-8 {
    grid-area: eig;
}

#btn-9 {
    grid-area: nin;
}

#btn-less {
    grid-area: less;
}

/* Linha 3 */
#btn-4 {
    grid-area: fou;
}

#btn-5 {
    grid-area: fiv;
}

#btn-6 {
    grid-area: six;
}

#btn-sum {
    grid-area: sum;
    height: 7rem;
}

/* Linha 4 */
#btn-1 {
    grid-area: one;
}

#btn-2 {
    grid-area: two;
}

#btn-3 {
    grid-area: thr;
}

/* Linha 5 */
#btn-0 {
    grid-area: ou;
}

#btn-00 {
    grid-area: dbou;
}

#btn-dot {
    grid-area: dt;
}

#btn-eq {
    grid-area: eq;
    background: blue;
    color: #fff;
} 


.btn-calc {
    display:block;
    border-color: #999 #000 #999 #000;
    border: 1px solid;
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 10px 0px;
    background: #eee;
    border: solid #111 1px;
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(131, 33, 33, 0.25);
}

.btn-calc:hover {
    position: relative;
    top: 1px;
    bottom: 1px;
    border-color: #000 #999 #999 #000;
    background: rgb(212, 212, 212);
}