body {
    background: linear-gradient(45deg, #ddd,#fff)
}

canvas {
    border: solid 1px black;
}

.game__preenche-background {
    height: 100vh;
}

.game__botao-voltar {
    font-size: 2rem;
    padding: 1rem;
    position: absolute;
}

.game__botao-voltar:hover {
    color:blue;
}

.game-container {
    display: flex;
    justify-content: space-between;
    padding: 1vh 5vw;
    align-items: top;
}

.game-head {
    text-align: center;
    font-size: 1.6rem;
    padding-top: 2rem;
    margin-right: 2rem;
}

.game-iframe iframe {
    width: 605px;
    height: 450px;
}

.game-iframe .freeway {
    width: 505px;
    height: 450px;
}