@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* navbar */

#logo {
    font-family: Chalkduster, fantasy;
    font-size: 30px;
    color: #eee;
}

#navbar {
    background: #111;
    width: 100%;
    height: 80px;
    color: #eee;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 10px;
}

/* showcase */

#showcase {
    width: 100%;
    height: 50px;
}

#showcase-container {
    background: url(/img/img-principal.jpg) no-repeat center center/cover;
    background-image: rgba(0,0,0,1);
}

.list-group-item {
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: gray;
}

.container {
    border-radius: 15px;
    /* box-shadow:5px 5px 2px gray; */
}

.centralizado {
    text-align: center;
}

#igualdade {
    font-size: 20px;
}
/* 
#operadores {
    height: 29px;
} */

.form-select {
    width: 100%;
    border-radius: 5px;
    overflow-y: auto;
}

.painel,#sinal {
    border-radius: 5px;
}

#sinal {
    width: 2%;
}

.btn {
    border-radius: 5px;
}

.glass {
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: bluer(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.img-sombra {
    filter: drop-shadow(2px 4px 8px blue);
}

textarea {
    resize: none;
}