body {
    background-color:white;
}

#img-principal {
    border-radius: 20%;
}

#logo {
    font-family: Chalkduster, fantasy;
    font-size: 30px;
}

.list-group-item {
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: gray;
}

.container {
    border-radius: 15px;
    box-shadow:5px 5px 2px gray;
}

.centralizado {
    text-align: center;
}

#igualdade {
    font-size: 20px;
}

#painel {
    border-radius: 5px;
}

#btn-calcular {
    border-radius: 5px;
}