.task {
    display: flex;
    margin: 6% 0;
    justify-content: space-evenly;
    font-family: "Poppins", sans-serif;
    max-height: 28rem;
}

.task-inputs {
    background: #333;
    padding: 2rem;
    border-radius: 5px;
}

.task-title {
    margin-bottom: 1.5rem;
}

.task-input-title {
    width: 20vw;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #000;
    font-weight: 500;
}

.task-input-title:focus {
    outline: none;
    border-color: #41b883;
}

.task-description {
    margin-bottom: 1.5rem;
}

.task-description-textarea {
    width: 30vw;
    font-size: 1.2rem;
    padding: 10px;
    text-align: justify;
    border: 2px solid #000;
    border-radius: 5px;
    resize: none;
}

.task-description-textarea:focus {
    outline: none;
    border-color: #41b883;
}

.btn-save {
    font-size: 1.2rem;
    padding: 5px;
    background: #41b883;
    color: #eee;
    border-radius: 5px;
    border: none;
    transition: 300ms;
    cursor: pointer;
}

.btn-save:active {
    transition: 0ms;
    background: #000;
}

.task-manager {
    background: #333;
    padding: 2rem;
    border-radius: 5px;
    color: #fff;
    width: 35vw;
    overflow-y: auto;
}

.task-manager > h2 {
    text-align: center;
}

.task-manager::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
.task-manager::-webkit-scrollbar-track {
    background: #222;
    border-radius: 5px;
}
  
.task-manager::-webkit-scrollbar-thumb {
    background-color: #41b883;    /* color of the scroll thumb */
    border-radius: 20px;
    border-right: 3px solid #222;  /* creates padding around scroll thumb */
}
